@model Domain.Entities.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventType" class="control-label"></label>
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Languaje" class="control-label"></label>
                <input asp-for="Languaje" class="form-control" />
                <span asp-validation-for="Languaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlace" class="control-label"></label>
                <input asp-for="EventPlace" class="form-control" />
                <span asp-validation-for="EventPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventWeb" class="control-label"></label>
                <input asp-for="EventWeb" class="form-control" />
                <span asp-validation-for="EventWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memories" class="control-label"></label>
                <input asp-for="Memories" class="form-control" />
                <span asp-validation-for="Memories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issn" class="control-label"></label>
                <input asp-for="Issn" class="form-control" />
                <span asp-validation-for="Issn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Credit" /> @Html.DisplayNameFor(model => model.Credit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAuthors" class="control-label"></label>
                <input asp-for="NumberOfAuthors" class="form-control" />
                <span asp-validation-for="NumberOfAuthors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
