@model Domain.Software

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Software</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impact" class="control-label"></label>
                <input asp-for="Impact" class="form-control" />
                <span asp-validation-for="Impact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Credit" /> @Html.DisplayNameFor(model => model.Credit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAuthors" class="control-label"></label>
                <input asp-for="NumberOfAuthors" class="form-control" />
                <span asp-validation-for="NumberOfAuthors" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
