

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Material Dashboard by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />


    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Registro articulo</h4>
        <p class="card-category">Complete el formulario</p>
      </div>
      <div class="card-body">
        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="bmd-label-floating">Titulo</label>
                <input formControlName="title" type="text" class="form-control"/>             
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group" >
                <label class="bmd-label-floating">Tipo de articulo</label>
                <input formControlName="tipoArticulo" type="email" class="form-control"/>
                
              </div>
            </div>
    
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group" >
                <label class="bmd-label-floating">Tipo de revista</label>
                <input formControlName="tipoRevista" type="text" class="form-control"/>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" >
                <label class="bmd-label-floating">ISSN</label>
                <input formControlName="issn" type="text" class="form-control"/>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-12">
              <div class="form-group" >
                <label class="bmd-label-floating">Idioma</label>
                <input formControlName="idioma" type="text" class="form-control"/>
              </div>
              
            </div>

          </div>
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Presenta credito</label>
                <input type="text" formControlName="presentaCredito" class="form-control"/>
              </div>
             
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Numero de autores</label>
                <input formControlName="numeroAutores" type="text" class="form-control"/>
              </div>
              
            </div>

          </div>
          <div class="row">

       
          </div>
          <button (click)="onSubmit()" [disabled]="formGroup.invalid" class="btn btn-primary pull-right" style="background-color: green">Registrar articulo</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>

